<div class="container-fluid">
    <div class="row flex-xl-nowrap justify-content-center">
        <main class="col-md-10 col-xl-8 align-self-center py-md-3 pl-md-5 bd-content" role="main">
            <div class="bd-example">
                <div class="jumbotron">
                    <h3 class="display-4">Hello, User!</h3>
                    <hr class="my-4">
                </div>
            </div>
            <div>
                <app-social></app-social>
            </div>
        </main>
    </div>
</div>